@import '../../_variables';

.menuItem {
  position    : relative;
  display     : inline-block;
  padding     : 0 50px;
  border-right: 1px solid darken($menu-color, 30%);
  line-height : 50px;

  &:first-child {
    border-left: 1px solid darken($menu-color, 30%);
  }

  &:hover {
    background-color: darken($menu-color, 20%);
    cursor          : pointer;
  }

  a {
    position: relative;
    display : block;
    width   : 100%;
    height  : 100%;
  }
}
