@import '../../_variables';

.menuItem {
  position    : relative;
  display     : inline-block;
  padding     : 0 50px;
  border-right: 1px solid $menu-border-color;
  line-height : $menu-height;

  &:first-child {
    border-left: 1px solid $menu-border-color;
  }

  &:hover {
    background-color: darken($menu-color, 20%);
    cursor          : pointer;
  }

  a {
    position : relative;
    display  : block;
    width    : 100%;
    height   : 100%;
    color    : $menu-font-color;
    font-size: 18px;
  }
}
