doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700" rel="stylesheet" type="text/css")
    link(rel='stylesheet' href='/application.css' charset='utf-8')
    meta(name="HandheldFriendly" content="True")
    meta(name="MobileOptimized" content="320")
    meta(name="viewport" content="width=device-width")
  body
    block content
