doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/application.css', charset='utf-8')
    meta(name="HandheldFriendly" content="True")
    meta(name="MobileOptimized" content="320")
    meta(name="viewport" content="width=device-width")
  body
    block content
