html,
body {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  margin: 0 auto; }

@media screen and (min-width: 480px) {
  .container {
    width: 440px; } }

@media screen and (min-width: 768px) {
  .container {
    width: 728px; } }

@media screen and (min-width: 1024px) {
  .container {
    width: 984px; } }

@media screen and (min-width: 1224px) {
  .container {
    width: 1184px; } }

@media screen and (min-width: 1824px) {
  .container {
    width: 1784px; } }

.menu {
  border-bottom: 1px solid #aaa; }
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.menuItem {
  display: inline-block;
  padding: 3px 5px;
  border-right: 1px solid #aaa; }
  .menuItem:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer; }
