.page-container {
  background: url("/images/mountain-bg.jpg");
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 80px; }

html,
body,
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

html,
body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #505050; }

a {
  text-decoration: none; }
  a:visited, a:active, a:focus {
    color: #257be0; }

.container {
  width: 100vw;
  margin: 0 auto; }

@media screen and (min-width: 480px) {
  .container {
    width: 440px; } }

@media screen and (min-width: 768px) {
  .container {
    width: 728px; } }

@media screen and (min-width: 1024px) {
  .container {
    width: 984px; } }

@media screen and (min-width: 1224px) {
  .container {
    width: 1184px; } }

@media screen and (min-width: 1824px) {
  .container {
    width: 1784px; } }

.menu,
.menuItem {
  background-color: rgba(254, 254, 254, 0.3); }

.menu {
  border-bottom: 1px solid rgba(178, 178, 178, 0.3);
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; }

.menuItem {
  border-bottom: 1px solid rgba(178, 178, 178, 0.3);
  height: 50px;
  display: inline-block;
  padding: 0 50px;
  position: relative;
  transition: background-color 0.2s, box-shadow 0.5s;
  line-height: 50px;
  border-right: 1px solid rgba(178, 178, 178, 0.3);
  box-shadow: 0 0 0 transparent inset;
  font-size: 16px; }
  .menuItem, .menuItem:hover, .menuItem:active, .menuItem:visited, .menuItem:focus {
    color: #646464; }
  .menuItem:hover, .menuItem.active {
    box-shadow: 0 0 10px rgba(221, 221, 221, 0.5) inset;
    background-color: transparent;
    cursor: pointer; }
  .menuItem:first-child {
    border-left: 1px solid rgba(178, 178, 178, 0.3); }
