@import '../../_variables';

.menuItem {
  display     : inline-block;
  padding     : 0 50px;
  position    : relative;
  transition  : background-color 0.2s ease;
  line-height : $menu-height;
  border-right: 1px solid $menu-border-color;

  &:first-child {
    border-left: 1px solid $menu-border-color;
  }

  &:hover {
    background-color: darken($menu-color, 10%);
    cursor          : pointer;
  }

  a {
    position : relative;
    display  : block;
    color    : $menu-font-color;
    font-size: 16px;
  }
}
