@import "_variables";

.page-container {
  background-size      : cover;
  background-attachment: fixed;
  background-repeat    : no-repeat;
  background-position  : top center;
  height               : 100%;
  padding-top          : 80px;
}
