@import "_variables";

.page-container {
  background           : url("/images/mountain-bg.jpg");
  min-height           : 100vh;
  background-size      : cover;
  background-attachment: fixed;
  background-repeat    : no-repeat;
  background-position  : top center;
  padding              : ($menu-height + $gutter-width) $gutter-width 0;
}

.container {
  width : 100vw - $gutter-width;
  margin: 0 auto;
}

@media screen and (min-width: $screen-xs) {
  .container {
    width: $screen-xs - $gutter-width;
  }
}

@media screen and (min-width: $screen-sm) {
  .container {
    width: $screen-sm - $gutter-width;
  }
}

@media screen and (min-width: $screen-md) {
  .container {
    width: $screen-md - $gutter-width;
  }
}

@media screen and (min-width: $screen-lg) {
  .container {
    width: $screen-lg - $gutter-width;
  }
}

@media screen and (min-width: $screen-xl) {
  .container {
    width: $screen-xl - $gutter-width;
  }
}
