// colors
$link-color     : rgb(37, 123, 224);
$menu-base-color: #fff;
$menu-color     : rgba($menu-base-color, 0.2);

// Screen sizes
$screen-xl: 1824px;
$screen-lg: 1224px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;
