$menu-height : 50px;
$margin-width: 30px;

// colors
$link-color       : rgb(37, 123, 224);
$font-color       : rgb(80, 80, 80);

// Screen sizes
$screen-xl: 1824px;
$screen-lg: 1224px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;

$font-size: 14px;
