@import '_variables';
@import '_base_components';

html,
body,
* {
  box-sizing: border-box;
}

.fullHeight {
  height: 100%;
}

html,
body {
  @extend .fullHeight;
  margin : 0;
  padding: 0;
  height : 100%;
}

a {
  text-decoration: none;

  &:visited,
  &:active,
  &:focus {
    color: $link-color;
  }
}

.container {
  width : 100%;
  margin: 0 auto;
}

@media screen and (min-width: $screen-xs) {
  .container {
    width: $screen-xs - 40;
  }
}

@media screen and (min-width: $screen-sm) {
  .container {
    width: $screen-sm - 40;
  }
}

@media screen and (min-width: $screen-md) {
  .container {
    width: $screen-md - 40;
  }
}

@media screen and (min-width: $screen-lg) {
  .container {
    width: $screen-lg - 40;
  }
}

@media screen and (min-width: $screen-xl) {
  .container {
    width: $screen-xl - 40;
  }
}
