@import 'variables';

html,
body,
* {
  box-sizing : border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  margin   : 0;
  padding  : 0;
  font-size: $font-size;
  color    : $font-color;
}

a {
  text-decoration: none;

  &:visited,
  &:active,
  &:focus {
    color: $link-color;
  }
}

.container {
  margin: 0 auto;
}

.page-container {
  background           : url("/images/mountain-bg.jpg");
  min-height           : 100vh;
  background-size      : cover;
  background-attachment: fixed;
  background-repeat    : no-repeat;
  background-position  : top center;
  padding              : ($menu-height + $gutter-width) $gutter-width $gutter-width;

  .container {
    margin-top: $gutter-width;

    &:first-child {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: $screen-xs) {
  .container {
    width: $screen-xs - $gutter-width * 2;
  }
}

@media screen and (min-width: $screen-sm) {
  .container {
    width: $screen-sm - $gutter-width * 2;
  }
}

@media screen and (min-width: $screen-md) {
  .container {
    width: $screen-md - $gutter-width * 2;
  }
}

@media screen and (min-width: $screen-lg) {
  .container {
    width: $screen-lg - $gutter-width * 2;
  }
}

@media screen and (min-width: $screen-xl) {
  .container {
    width: $screen-xl - $gutter-width * 2;
  }
}
