<div class="mainContainer">
  <div class="menuContainer">
    <ul class="menuList">
      <h1>This is a test</h1>
      {{#each menuItems}}
        <li><a href="{{path}}"{{#if remote}} target="_blank"{{/if}}>{{text}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
